.sankey-container
    display: flex
    align-items: stretch
    gap: 50px
    height: 100vh

    .inputs
        flex: 0 0 250px
        background: #FEFEFE
        border-right: 1px solid #DDD
        padding: 15px

    .chart
        display: flex
        align-items: center
        justify-content: center
        overflow: scroll
        flex: 1 1 500px